nav{
    background-color: black;
}
nav ul li a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 26px;
    text-transform: capitalize;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
#btnSubmit{
    border: 2px solid black;
}
.horLine{
    color: black;
}
#copyright{
    text-align: center;
    font-size: 15px;
}
h4{
    text-decoration: underline;
}