ul li a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 26px;
    text-transform: capitalize;
}
ul li{
    list-style: none;
    display: inline-block;
    font-family: "Lucida Bright";
}
#pawBalk{
    display: inline-block;
    width: 35px;
    height: 35px;
}
#imgWolf{
    width: 490px;
    height: 632px;
    border: 8px solid white;
}
#dogAgeCalc{
    background-color: white;
}
#dogAgeCalc .titel{
    color: black;
}
#uitvoerResultaat, #uitvoerQuote{
    color: black;
}
#quotesDogGenerator{
    background-color: white;
}
#quotesDogGenerator .titel{
    color: black;
}
#btnBereken, #btnQuote{
    border: 1px solid gray;
    background-color: lightgray;
}
main, footer{
    background-color: black;
}
#loginTxt{
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
    font-family: "Raleway";
}
#meldTxt{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Courier New";
}
p{
    font-family: sans-serif;
    color: white;
}
#quote{
    text-align: center;
}
#hndRas li{
    color: white;
}
#hfdGroepen li{
    color: white;
}
*{
    margin: 0 0;
}
nav{
    background-color: white;
}
.tssPart{
    background-color: white;
}
#formLeft, #formRight{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.tssPart p{
    color: black;
    font-size: 16px;
    font-family: sans-serif, "Arial";
}
#imgSoorten, #imgBelgie{
    border: 8px solid black;
}
#btnSubmit{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.titel{
    text-transform: capitalize;
    text-transform: uppercase;
    color: white;
    font-family: "Raleway";
}
.tssTitel{
    text-decoration: underline;
    color: white;
    font-family: "Courier New";
}
#imgDog{
    border: 8px solid white;
    margin: 0 40px;
}
#copyright{
    text-align: center;
    font-size: 15px;
    color: white;
}
.horLine{
    color: white;
}
#afbHond{
    width: 400px;
    height: 200px;
    margin: 0 10px;
}
#afbHondLaatst{
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.weetje{
    background-color: cadetblue;
    border: 2px solid darkblue;
    font-family: serif;
    text-align: center;
}